
.blah {
    background-color: white;
}

.hoverR {
    background-color: red;
}

.grid-con {
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.scaleBtn {
    height: 25px;
    width: 100px;
    border-radius: 8px;
    border: 2px blue;
    background-color: white;
    color: black;
}