
.h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.blah {
    background-color: white;
}

.gruf {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.grid-con {
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    align-self: center;
    position: relative;
}

.Btn {
    height: 30px;
    width: 150px;
    border-radius: 6px;
    background-color: white;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    position: absolute;
    margin-left: 20%;
}

.Btn:hover {
    background-color: black;
    color: white
}

#scaleBtn {
    margin-top: 75px;
}

#rainbowBtn {
    margin-top: 175px;
}

#gradientBtn {
    margin-top: 275px;
}

#clearBtn {
    margin-top: 375px;
}

.grayScale {
    background-color: rgba(0, 0, 0, 0.1);
}

